
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../layouts/header.ejs %>
</head>

<body>
    <!-- Loader starts-->
    <% include ../../layouts/loader.ejs %>
        <!-- Loader ends-->
        <!-- tap on top starts-->
        <div class="tap-top"><i data-feather="chevrons-up"></i></div>
        <!-- tap on tap ends-->
        <!-- page-wrapper Start-->
        <div class="page-wrapper compact-wrapper" id="pageWrapper">
            <!-- Page Header Start-->
            <div class="page-header">
                <% include ../../layouts/nav.ejs %>
            </div>
            <!-- Page Header Ends -->
            <!-- Page Body Start-->
            <div class="page-body-wrapper">
                <!-- Page Sidebar Start-->
                <% include ../../layouts/sidebar.ejs %>
                    <!-- Page Sidebar Ends-->
                    <div class="page-body">
                        <div class="container-fluid">
                            <div class="page-title">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <h3>Quản lý tài khoản</h3>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="/"> 
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-home">
                                                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Container-fluid starts-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive product-table">
                                                <div id="basic-1_wrapper" class="dataTables_wrapper no-footer">
                                                    <script>
                                                        setTimeout(() => {
                                                            const box = document.getElementById('mess');
                                                            box.style.display = 'none';
                                                        }, 5000);
                                                    </script>
                                                    <% if (message) { %>
                                                        <p id="mess" style="font-size: 14px; color: rgb(252, 9, 9); text-align: left;">
                                                            <%= message %>
                                                        </p>
                                                    <% } %>
                                                    <table class="display dataTable no-footer" id="basic-1" role="grid" aria-describedby="basic-1_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">STT</th>
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">Họ và tên</th>
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">Số điện thoại</th>
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">Email</th>
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">Sinh nhật</th>
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">Mã định danh</th>
                                                                <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1">Chi tiết</th>
                                                            </tr>
                                                        </thead>
                                                            <tbody>
                                                                <% let index =0; %>
                                                                <% users.forEach(function(user){ index++ %>
                                                                <tr role="row" class="odd">
                                                                    <td><%= index %> </td>
                                                                    <td><%= user.full_name %></td>
                                                                    <td>0<%= user.number_phone %></td>
                                                                    <td><%= user.email %></td>
                                                                    <td><%= (user.birthday).getFullYear() %>-<%= String(user.birthday.getMonth() + 1).padStart(2, '0') %>-<%= String(user.birthday.getDate()).padStart(2, '0') %></td>
                                                                    <td><%= user.cccd_cmnd %></td>
                                                                    <td>
                                                                        <button class="btn btn-success btn-xs" data-bs-toggle="modal" type="button" data-original-title="btn btn-danger btn-xs" data-bs-target="#detailModal_<%= user._id %>" title="">Chi tiết</button>
                                                                        <div class="modal fade" id="detailModal_<%= user._id %>" tabindex="-1" aria-labelledby="editModal" style="display: none;" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <form action="/sua-tai-khoan/<%= user._id %>" method="post">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h4>Chi tiết tài khoản - <%= user.full_name %></h4>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Họ và tên</label>
                                                                                                        <input id="full_name" name="full_name" class="form-control" type="text" value="<%= user.full_name %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Sinh nhật</label>
                                                                                                        <input id="birthday" name="birthday" class="form-control" type="date"  value="<%= (user.birthday).getFullYear() %>-<%= String(user.birthday.getMonth() + 1).padStart(2, '0') %>-<%= String(user.birthday.getDate()).padStart(2, '0') %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-5">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Số điện thoại</label>
                                                                                                        <input id="number_phone" name="number_phone" class="form-control" type="number"  value="0<%= user.number_phone %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-7">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Email</label>
                                                                                                        <input id="email" name="email" class="form-control" type="text"  value="<%= user.email %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-12">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Địa chỉ</label>
                                                                                                        <input id="address" name="address" class="form-control" type="text"  value="<%= user.address %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Tài khoản</label>
                                                                                                        <input id="username" name="username" class="form-control" type="text"  value="<%= user.username %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label>Mật khẩu</label>
                                                                                                        <input id="password" name="password" class="form-control" type="password"  value="<%= user.password %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-12">
                                                                                                    <div class="col">
                                                                                                        <h5 class="mb-0">Vai trò tài khoản</h5>
                                                                                                        <div class="m-t-15 m-checkbox-inline">
                                                                                                            <% let check_user_role = user.user_role %>
                                                                                                            <% let check_role_user = roles.filter(v => check_user_role.findIndex(v2 => v2.role === v.role)<(0)) %>
                                                                                                            <% console.log(check_role_user) %>
                                                                                                            <% user.user_role.forEach(function(user_role){ %>
                                                                                                                <input checked type="checkbox" style="height: 15px;" class="form-check-input" value="<%= user_role._id %>" id="user_role" name="user_role">
                                                                                                                <label class="form-check-label" for=""><%= user_role.role %></label><br>
                                                                                                            <% }); %>
                                                                                                            <% check_role_user.forEach(function(check_role){ %>
                                                                                                                <input type="checkbox" style="height: 15px;" class="form-check-input" value="<%= check_role._id %>" id="user_role" name="user_role">
                                                                                                                <label class="form-check-label" for=""><%= check_role.role %></label><br>
                                                                                                            <% }); %>
                                                                                                                
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                        <button class="btn btn-primary" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Đóng</button>
                                                                                        <button class="btn btn-secondary" type="submit" data-bs-original-title="" title="">Chỉnh sửa</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <button class="btn btn-danger btn-xs"  data-bs-toggle="modal" type="button" data-original-title="btn btn-danger btn-xs"  data-bs-target="#deleteModel" data-bs-original-title="" title="" title="">Xóa</button>
                                                                        <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" style="display: none;" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                              <div class="modal-content">
                                                                                <div class="modal-body">Bạn có chắc là muốn xóa tài khoản này không?</div>
                                                                                <div class="modal-footer">
                                                                                  <button class="btn btn-primary" type="button" data-bs-dismiss="modal" data-bs-original-title="" title="">Hủy</button>
                                                                                  <form action="/xoa-tai-khoan/<%= user._id %>" method="post">
                                                                                    <button class="btn btn-secondary" type="submit" data-bs-original-title="" title="">Xóa</button>
                                                                                  </form>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>   
                                                                </tr>
                                                                <% }); %>
                                                            </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Container-fluid Ends-->
                    </div>
            </div>
        </div>
        <!-- latest jquery-->
        <% include ../../layouts/footer.ejs %>
</body>

<!-- Mirrored from admin.pixelstrap.com/zeta/theme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Dec 2022 03:46:19 GMT -->

</html>